
body {
  /* margin: auto 0; */
  color: #333;
  background-color: #eee;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  color: #ddd;
  background-color: #444;
  padding: 10px;
}

.btn {
  background-color: #444;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
